<a href="https://colab.research.google.com/github/josejimenez20/PrograIII-CII/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
Nombre = "Jose Jimenez"


print("Hola ", Nombre, ", inicial: ", Nombre[0], Nombre[5])

Hola Mundo
Hola  Jose Jimenez , inicial:  J J

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("la suma es:", resp)

la suma es: 14.5

EJERCICIO, Crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
print("Num1")
Num1 = float(input())

print("Num2")
Num2 = float(input())

resp = Num1 + Num2
print("la suma es:", resp)

Num1
10
Num2
10
la suma es: 20.0

In [ ]:
#Tipos de datos
num1 = 5
num2 = 5.9
nombre = "Jose Jimenez"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Jose Jose z Jimenez Jimenez
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, cree un programa en python que lea un numero y dertermine si es par o impar

In [ ]:
num = int(input("Ingrese un numero: "))
if num % 2 == 0:
    print("El numero es par" , num)
else:
    print("El numero es impar")

Ingrese un numero: 5
El numero es impar

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [3]:
def suma(num1, num2):
    return num1 + num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 1
Num 2: 1
La suma es:  2.0

EJERCICIO: Coonvertir grados celsius a farenheit, usando funciones de usuario.

In [4]:
def convertir_cf(c):
    return c * 1.8 + 32

c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 5
F:  41.0

EJERCICIO: Determina si un numero es par o impar

In [1]:
def parImpar(num):
    if num % 2 == 0:
        return "par"
    return "impar"

num = int(input("Num: "))
print("El número", num, "es:", parImpar(num))

Num: 7
El número 7 es: impar

Tarea para MIERCOLES
Convertir grados Fahrenheit a Celsius

In [2]:
def convertir_fc(f):
    return (f - 32) / 1.8

f = float(input("Fahrenheit: "))
print("Celsius: ", convertir_fc(f))

Fahrenheit: 5
Celsius:  -15.0

Convertir grados [Celsius y Fahrenheit] a Kelvin

In [3]:
def convertir_ck(c):
    return c + 273.15

c = float(input("Celsius: "))
print("Kelvin: ", convertir_ck(c))

Celsius: 1
Kelvin:  274.15

Convertir de Fahrenheit a Kelvin:

In [4]:
def convertir_fk(f):
    return (f - 32) / 1.8 + 273.15

f = float(input("Fahrenheit: "))
print("Kelvin: ", convertir_fk(f))

Fahrenheit: 1
Kelvin:  255.92777777777775

EJERCICIO: Calcular el sueldo de un trabajador

In [5]:
def sueldo(numHrs, valorXHrs):
    sueldo = numHrs * valorXHrs * 30
    if numHrs > 8:
        sueldo = sueldo + (numHrs - 8) * valorXHrs * 30 * 0.5
    return sueldo

numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))
print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 15
Valor: 5
Sueldo:  2775.0